@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="full-page">
<div class="text-center main">
    <h1>Add your tasks here!</h1>
    <form>
        <label >Name of Task</label>
        <input />
        <label >Quadrant</label>
        <select >
            <option value="">Select a Value</option>
            <option value="1">Quadrant 1</option>
            <option value="2">Quadrant 2</option>
            <option value="3">Quadrant 3</option>
            <option value="4">Quadrant 4</option>
        </select>
        <button class="btn-info" type="submit">Add your task</button>
    </form>
        
</div>
</div>