@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="quadrant">
                    <h2>Quadrant 1</h2>
                    <table class="task-table">
                        <tr>
                            <td>Task 1</td>
                            <td>
                                <button class="edit-btn">Edit</button>
                                <button class="delete-btn">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Task 2</td>
                            <td>
                                <button class="edit-btn">Edit</button>
                                <button class="delete-btn">Delete</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="quadrant">
                    <h2>Quadrant 2</h2>
                    <table class="task-table">
                        <tr>
                            <td>Task 3</td>
                            <td>
                                <button class="edit-btn">Edit</button>
                                <button class="delete-btn">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Task 4</td>
                            <td>
                                <button class="edit-btn">Edit</button>
                                <button class="delete-btn">Delete</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="quadrant">
                    <h2>Quadrant 3</h2>
                    <table class="task-table">
                        <tr>
                            <td>Task 5</td>
                            <td>
                                <button class="edit-btn">Edit</button>
                                <button class="delete-btn">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Task 6</td>
                            <td>
                                <button class="edit-btn">Edit</button>
                                <button class="delete-btn">Delete</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="quadrant">
                    <h2>Quadrant 4</h2>
                    <table class="task-table">
                        <tr>
                            <td>Task 7</td>
                            <td>
                                <button class="edit-btn">Edit</button>
                                <button class="delete-btn">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Task 8</td>
                            <td>
                                <button class="edit-btn">Edit</button>
                                <button class="delete-btn">Delete</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
